services:
  bazaarcompanionweb:
    restart: always
    image: bazaarcompanionweb
    build:
      context: .
      dockerfile: BazaarCompanionWeb/Dockerfile
    environment:
      - DATA_DIR=/app/data
      # Set ConnectionStrings__DefaultConnection to your central PostgreSQL server
    volumes:
      - /opt/bazaar-data/:/app/data/
    ports:
      - "6969:6969"
