services:
  bazaarcompanionweb:
    restart: always
    image: bazaarcompanionweb
    build:
      context: .
      dockerfile: BazaarCompanionWeb/Dockerfile
    environment:
      - DATA_DIR=/app/data
      - ConnectionStrings__DefaultConnection=Data Source=/app/data/Database.db
    volumes:
      - /opt/bazaar-data/:/app/data/
    ports:
      - "6969:6969"
