@page "/"
@using BazaarCompanionWeb.Components.Pages.Components
@rendermode InteractiveServer

<PageTitle>Bazaar Maxxing</PageTitle>

<div class="space-y-6">
    <MarketInsightsPanel ProductClicked="OnInsightProductClicked" />
    <ProductList @ref="_productList"/>
</div>
